body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
}

.headertext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 75px 50px;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 0px 75px 50px;
    gap: 50px;
}

.herosec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroimg {
    max-height: 200px;
}

.links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.logo, .ctah {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.hmtext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

.links, .hstext, .footer, .ctat, a {
    font-size: 18px;
    color: #E5E7EB;
}

.hmtext, .hstext {
    margin-bottom: 8px;
}

.ihtext {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 25px;
}

.cluster {
    display: flex;
    justify-content: center;
    margin: 0px 100px 120px;
    gap: 20px;
    flex-wrap: wrap;
}

.section {
    text-align: center;
    max-width: 200px;
}

.simg {
    border-radius: 10px;
    border: 3px solid #3882F6;
    max-width: 200px;
    height: 150px;
}

button, .cta {
    background-color: #3882F6;
    border-radius: 5px;
}

button {
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border: none;
}

.qsection {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.qauthor {
    font-weight: 700;
    margin-left: auto;
}

.cta {
    margin: 50px 100px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ctaleft {
    display: flex;
    flex-direction: column;
}

.cta button {
    border: 2px solid white;
}

.footer {
    text-align: center;
    padding: 25px;
}